<header>
  <section class="container">
    <div>
    </div>
    <a href="https://www.theatreb.org/" class="b-logo">
      <img src="/images/b_logo_white.png" alt="Theatre B Logo"/>
    </a>
    <img class="title-image" src="/images/themajoritytitle.png" alt="The Majority"/>
  </section>
</header>
