<header>
  <section class="container">
    <nav role="navigation">
    </nav>
    <a href="https://www.theatreb.org/" class="b-logo">
      <img src="<%= Routes.static_path(@conn, "/images/bee_logo.png") %>" alt="Theatre B Logo"/>
    </a>
  </section>
</header>
<%= @inner_content %>
