<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "The Majority", suffix: " · Theatre B" %>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>

    <script src="https://kit.fontawesome.com/8595d53fc2.js" crossorigin="anonymous"></script>

    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.js" integrity="sha256-P8jY+MCe6X2cjNSmF4rQvZIanL5VwUUT4MBnOMncjRU=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://webrtchacks.github.io/adapter/adapter-latest.js"></script>

    <!-- Needed for /watch  TODO: Scope these better so they're not included in /vote -->
<%#     <!-- Chromecast SDK -->
    <script type="text/javascript" src="//www.gstatic.com/cv/js/sender/v1/cast_sender.js?loadCastFramework=1"></script>

    <!-- THEOplayer library and css -->
    <script type="text/javascript" src="https://cdn.myth.theoplayer.com/1230daef-f515-4df9-b106-eacd30822514/THEOplayer.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.myth.theoplayer.com/1230daef-f515-4df9-b106-eacd30822514/ui.css" />
 %>  </head>
  <body>
    <!--
##    ##  #######  ##     ## #### ########  ########             ###             ########  #### ########
 ##  ##  ##     ## ##     ## #### ##     ## ##                  ## ##            ##     ##  ##     ##
  ####   ##     ## ##     ##  ##  ##     ## ##                 ##   ##           ##     ##  ##     ##
   ##    ##     ## ##     ## ##   ########  ######            ##     ##          ########   ##     ##
   ##    ##     ## ##     ##      ##   ##   ##                #########          ##     ##  ##     ##
   ##    ##     ## ##     ##      ##    ##  ##                ##     ##          ##     ##  ##     ##
   ##     #######   #######       ##     ## ########          ##     ##          ########  ####    ##



##    ##  #######   ######  ######## ##    ##                  ###    ########  ######## ##    ## #### ########          ##    ##    ###     #######
###   ## ##     ## ##    ## ##        ##  ##                  ## ##   ##     ## ##       ###   ## ####    ##              ##  ##    ## ##   ##     ##
####  ## ##     ## ##       ##         ####                  ##   ##  ##     ## ##       ####  ##  ##     ##               ####    ##   ##        ##
## ## ## ##     ##  ######  ######      ##    ####          ##     ## ########  ######   ## ## ## ##      ##                ##    ##     ##     ###
##  #### ##     ##       ## ##          ##    ####          ######### ##   ##   ##       ##  ####         ##                ##    #########    ##
##   ### ##     ## ##    ## ##          ##     ##           ##     ## ##    ##  ##       ##   ###         ##                ##    ##     ##
##    ##  #######   ######  ########    ##    ##            ##     ## ##     ## ######## ##    ##         ##                ##    ##     ##    ##


Majority Finder is, was, and will be written by David 'Hubie' Huebner (github.com/hubie) and one day (hopefully) others.
It begged to be written in Phoenix LiveView (https://hexdocs.pm/phoenix_live_view/Phoenix.LiveView.html) and who am I to stand in its way?
I'm not going to lie – at a certain point along this journey of learning the framework, discovering requirements, and running out of time,
this project changed from one of ideals into one making-it-happen.  There's certainly things in here that I'm not proud of.
The concept of this app though – allowing audiences both remote and in person – to participate in live shows has a lot of merit, espeically
in these COVID times.  It is my intention to take the my learnings and rewrite this app so that live events of all sorts – Theatre, Improv,
Comedy, and even Webinars, classes, and quizzes can make use of it.  If you're interested in helping, (and I could obviously use some help
on the front end 🙃), want to chat about functional programming, or just feel like it, drop me a line and let's chat!
-->
    <%= render "b_public_header.html" %>
    <%= case @player do %>
      <% "webrtc" -> %>
        <video id="player-video" width="100%" autoplay playsinline controls></video>
        <div>
          <button phx-click="video_player" value="legacy">Legacy Player (High Latency)</div>
        </div>
      <% _ -> %>
        <div id="vimeo-player" style="padding:56.25% 0 0 0;position:relative;"><iframe id="vimeo-player-iframe" src="https://vimeo.com/event/420585/embed/6f0c858aed" frameborder="0" allow="autoplay; fullscreen" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe></div>
    <% end %>

    <div><iframe scrolling="no" class="embeddedvote" src="/embeddedvote"></iframe></div>
  </body>
</html>
